@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body {
    background-image:url(img/blur.png);
    /* width: 100%; */
    background-size: 3000px;
    background-repeat: no-repeat;
}

/*-------------HEADER--------------*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;/* longeur de la barre*/
    padding: 40px 30px; /* rajout padding haut et droit*/
    backdrop-filter: blur(50px);
    display: flex;/*en gros ca met tout les elements de header sur la meme ligne*/
    justify-content: space-between;/*separation entre logo et navbar*/
    align-items: center;
    z-index: 100;
}

.logo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.navbar a{
    font-family: 'Bebas Neue', sans-serif;
    margin-left:30px;
    margin-right: 50px; 
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: .3s ;/*lie au navbar hover, temps de reaction avant*/
}

.navbar a:hover{
    color: #345678; /*lorsque on hover les a*/
}

/*----------DESCRIPTION SECTION HOME------------*/

.acceuil{
    height: 100vh;
    display: flex;
    align-items: center;
    padding:0 10%;
}

.descriptionAcceuil h1{
    font-family: 'Bebas Neue', sans-serif;
    position: relative ; /* dispaly = flex ??*/
    font-size: 56px;
}

.descriptionAcceuil h3{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 2px;
    position: relative;
    color: #345678;
}

.descriptionAcceuil p{
    position: relative;
    font-size: 25px;
    width: 45rem;
}


.btn-reseaux{ /*Logos positionnement*/
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.btn-reseaux a { /*encadrement logo*/
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border:1px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    text-decoration: none;
    z-index: 1;
    overflow: hidden; /*de base carre mais grace a ca la transfo est ronde*/
    transition: .5s;
}

.btn-reseaux a:hover{
    color: #345678;
}

/*----------A PROPOS DE MOI SECTION------------*/

img{
    width: 15rem;
    height: 31rem;
    display: flex;
    align-items: flex-start;
    bottom: 10rem;
    position: relative;
}

.aboutMee{
    height: 100vh;
    display: flex;
    /* align-items: flex-start; */
    padding:0 10%;
    margin-right: 3rem;
}

.aboutMe h3{
    font-family: 'Bebas Neue', sans-serif;
    position: relative ; /* dispaly = flex ??*/
    font-size: 56px;

    display: flex;
    align-items: center;
    padding:0 10%;
}

.about-contenu p{
    position: relative;
    font-size: 25px;
    width: 45rem;
    padding-left: 2rem;
}

/*----------MES PROJETS SECTION------------*/

.projets-titre h3{
    font-family: 'Bebas Neue', sans-serif;
    position: relative ; /* dispaly = flex ??*/
    font-size: 56px;
    display: flex;
    align-items: center;
    padding:0 10%;
}

.projets{
    display: flex;
    flex-wrap: wrap;/*passer a la ligne si les elements ne passe pas*/
    padding:0 10%;
}

.projet{
    margin-right: 2rem;
    max-width: 350px;/* en gros le texte ne peux pas depasser les 350*/
}

.projet a{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
}

.projet p.description{
    font-size: 1.2rem;
}

.projet p.date{
    font-size: 1rem;
}

  .fleche-texte{
    display: flex;
    gap: 4px;
  }
/*-------------FOOTER--------------*/

.footer{
    backdrop-filter: blur(50px);
    padding:0 10% ;
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}


/*-------------RESPONSIVE--------------*/

@media screen and (min-width: 600px) and (max-width: 844px){

    h1{
        width: 35rem;
    }
    
    .descriptionAcceuil p{
        width: 30rem;
        font-size: 20px;
    }

    .descriptionAcceuil h1 {
        font-family: 'Bebas Neue', sans-serif;
        position: relative;
        font-size: 45px;
    }

    img{
        height: 20rem;
        width: 12rem;
        bottom: 5em;
    }

    .about-contenu p{
        position: relative;
        font-size: 15px;
        width: 30rem;
        padding-left: 2rem;
    }

    .projets {
        display: flex;
        flex-wrap: wrap;
        padding: 2em;
        left: 4em;
        position: relative;
    }

}


@media screen and (min-width: 483px) and (max-width: 599px){
    /* .mesprojets{
        display: none;
    } */

    .about-contenu p{
        position: relative;
        font-size: 15px;
        width: 21rem;
        padding-left: 2rem;
    }
 
    .projet {
        margin-right: 2rem;
        max-width: 890px;
    }
    .projet p {
    font-size: 2rem;
    }
   
    #ok{
        max-width: 890px;

    }
}